.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.img_face{
  max-width: 256px;max-height: 256px;background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ4Ni4zOTIgNDg2LjM5MiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDg2LjM5MiA0ODYuMzkyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCI+CjxnPgoJPGc+CgkJPGc+CgkJCTxwYXRoIGQ9Ik0yNDMuMTk2LDBDMTA4Ljg5MSwwLDAsMTA4Ljg5MSwwLDI0My4xOTZzMTA4Ljg5MSwyNDMuMTk2LDI0My4xOTYsMjQzLjE5NiAgICAgczI0My4xOTYtMTA4Ljg5MSwyNDMuMTk2LTI0My4xOTZDNDg2LjM5MiwxMDguODYxLDM3Ny41MDEsMCwyNDMuMTk2LDB6IE0zMDYuMDYyLDI0My4xNjVsLTM5Ljg1NCwwLjAzbC0wLjAzLDE0NS45MTdoLTU0LjY4OSAgICAgVjI0My4xOTZIMTc1LjAxdi01MC4yODFsMzYuNDc5LTAuMDNsLTAuMDYxLTI5LjYwOWMwLTQxLjAzOSwxMS4xMjYtNjUuOTk3LDU5LjQzMS02NS45OTdoNDAuMjQ5djUwLjMxMWgtMjUuMTcxICAgICBjLTE4LjgxNywwLTE5LjcyOSw3LjAyMi0xOS43MjksMjAuMTI0bC0wLjA2MSwyNS4xNzFoNDUuMjM0TDMwNi4wNjIsMjQzLjE2NXoiIGZpbGw9IiNGRkZGRkYiLz4KCQk8L2c+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==)}</style>
}

.submenu{
  min-width: 0rem !important;
}
#principal_body{
  margin-left: 50px;
}
